*~
.DS_Store
.*.sw?
*.gypcmd
*.mk
*.pyc
*.tar.gz
*.log
build
cscope.*
gen
node_modules
npm-debug.log
tags
cpplint.py
generated
types/interfaces.d.ts
dist
build
log
.vscode
.project

# test build artifacts
/test/cpp/add_two_ints_client
/test/cpp/listener

# controversial ignore, see https://dev.to/gajus/stop-using-package-lock-json-or-yarn-lock-3ddi
package-lock.json
