services:
  - docker

sudo: required

branches:
  only:
  - develop
  - master
  - actionlib

before_install:
  - sudo docker pull ubuntu:bionic
  - sudo docker build -t rcldocker .

script:
  - sudo docker run -v $(pwd):/root/rclnodejs --rm rcldocker bash -i -c 'cd /root/rclnodejs && cppcheck --suppress=syntaxError --enable=all src/*.cpp src/*.hpp && ./scripts/build.sh && npm test'
