services:
  - docker

sudo: required

branches:
  only:
  - develop
  - master
  - bouncy-bolson

before_install:
  - sudo docker pull ubuntu:xenial
  - sudo docker build -t rcldocker .

script:
  - sudo docker run -v $(pwd):/root/rclnodejs --rm rcldocker bash -i -c 'cd /root/rclnodejs && ./scripts/build.sh && npm test'
