<?js
    var data = obj;
?>
    <section class="doc-section source-section">
        <article class="prose-card">
            <pre class="prettyprint source linenums"><code><?js= data.code ?></code></pre>
        </article>
    </section>