
name:  rclnodejs - Linux Build and Test

on:
  push:
    branches:
      - develop
      - humble-hawksbill
      - galactic-geochelone
      - foxy-fitzroy
  pull_request:
    branches:
      - develop
      - humble-hawksbill
      - galactic-geochelone
      - foxy-fitzroy
  workflow_dispatch:

jobs:
  identify-ros-distro:
    uses: ./.github/workflows/identify-ros-distro.yml

  build:
    needs: identify-ros-distro
    runs-on: ${{ needs.identify-ros-distro.outputs.linuxos }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [10.X, 12.X, 14.X, 16.11.X, 17.X]
    steps:
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Setup ROS2
      uses: ros-tooling/setup-ros@v0.3
      with:
        required-ros-distributions: ${{ needs.identify-ros-distro.outputs.distro }}

    - name: Install test-msgs on Linux
      run: |
        sudo apt install ros-${{ needs.identify-ros-distro.outputs.distro }}-test-msgs

    - uses: actions/checkout@v3

    - name: Build and test rclnodejs
      run: |
        source /opt/ros/${{ needs.identify-ros-distro.outputs.distro }}/setup.bash
        npm i
        npm test
